.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
  }
  .bg-dark-blue {
      background-color: #00008B; /* Biru Tua */
    }  
  .h-custom {
    height: calc(100% - 73px);
  }
  @media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
}

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    margin-left: -300px;
    transition: 0.4s;
}

.active-main-content {
    margin-left: 250px;
}

.active-sidebar {
    margin-left: 0;
}

#main-content {
    transition: 0.4s;
}

.navbar {
    height: 50px !important; /*i assume your navbar size 100px*/
}




.tracking-iteeem {
  display: flex;
  align-items: center;
}
.tracking-iteeem .buletbulet {
  width: 40px;
  height: 40px;
  background-color: #e0e0e0;
  border-radius: 50%;
  margin-right: 10px;
}
.tracking-iteeem .lengkaap {
  flex-grow: 1;
}
.tracking-iteeem .lengkaap .tangggaall {
  font-size: 14px;
  color: #333;
}
.tracking-iteeem .lengkaap .sssttaatuss {
  font-size: 16px;
  color: #333;
}
.tracking-iteeem .lengkaap .deeeskripsssi {
  font-size: 12px;
  color: #999;
}

.rowasd {
  display: flex;               /* Use flexbox for alignment */
  flex-wrap: wrap;            /* Allow wrapping to next line */
  margin: 0 -5px;             /* Optional: Adjust margins */
}

.columnasd {
  flex: 0 0 12.5%;            /* Allow 8 cards in a row */
  padding: 10px 10px;            /* Padding around columns */
}

@media screen and (max-width: 600px) {
  .columnasd {
    flex: 0 0 100%;           /* Full width on small screens */
    display: block;           /* Make each column a block */
    margin-bottom: 20px;     /* Space between cards */
  }
}

.cardasd {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  flex: 1;                   /* Allow cards to grow */
  display: flex;             /* Use flexbox for the card */
  flex-direction: column;    /* Stack content vertically */
  justify-content: space-between; /* Ensure even spacing */
}

.unguuu {
  background-color: #e6e6ff;
}
.biruu {
  background-color: #cce6ff;
}
.pinkk {
  background-color: #ffcce6;
}
.hijauu {
  background-color: #ccffee;
}
.kuningg {
  background-color: #ffffcc;
}
.maroonn {
  background-color: #ff8080;
}
.orangee {
  background-color: #ffdd99;
}
.birutuaa{
  background-color:  #4da6ff;
}
.greennn {
  background-color: #99ff99;
}
.goldd {
  background-color: #aaaa55;
}
.greyyy {
  background-color: #85adad;
}
.neoon {
  background-color: #d9ff66;
}
.ungutuaa {
  background-color: #bf80ff;
}
.redd {
  background-color: #ff0000;
}
.biruudiamondd {
  background-color: #4dd2ff;
}




/* Optional: Ensures that all cards are equal height in their row */
.rowasd > .columnasd {
  display: flex;
  align-items: stretch;      /* Stretch to fill the height of the row */
}